*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --text-color: #fff;
    --bg-color: #1a1a1a;
    --main-color: rgb(193,164,95);

    --h1-fonts: 4rem;
    --h2-fonts: 3rem;
    --p-fonts: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

.logo{
    width: 10%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .50s ease;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-fonts);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.h-right{
    display: flex;
    align-items: center;
}

.h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-fonts);
    margin-right: 20px;
}

.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-left: 5px;
    margin-right: 18px;
    transition: all .50s ease;
}

.h-right a:hover{
    color: var(--main-color);
    transform: translateY(3px);
}

#menu-icon{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

