:root {
    --text-color: #fff;
    --bg-color: #1a1a1a;
    --main-color: rgb(193, 164, 95);

    --h1-fonts: 4rem;
    --h2-fonts: 3rem;
    --p-fonts: 1rem;
}


.footer{
    margin-top: 40px;
    position: relative;
    text-align: center;
}

.footer-content{
    position: relative;
    border: 1px solid var(--text-color);
    justify-content: center;
    align-items: center;
    height: auto;
    color: var(--text-color);
    background-color: black;
}

.logo-content img{
    width: 25%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.footer-content h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.footer-content p{
    color: #ffffffb5;
    font-size: var(--p-fonts);
    
}

.list{
    text-decoration: none;
    list-style: none;
    position: relative;
    margin-top: 50px;
}

.list ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.list ul li a{
    color: var(--text-color);
    transition: all .50s ease;
    font-size: var(--p-fonts);
    font-weight: 500;
}

.list ul li a:hover{
    color: var(--main-color);
}

.contact{
    margin-top: 40px;
}


.footer-end{
  background-color: var(--text-color);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-end p{
    color: black;
    padding: 20px 10px;
    font-size: var(--p-fonts);
    font-weight: 700;
}