:root {
    --text-color: #fff;
    --bg-color: #1a1a1a;
    --main-color: rgb(193,164,95);

    --h1-fonts: 4rem;
    --h2-fonts: 3rem;
    --p-fonts: 1rem;
}

.sample {
    padding: 90px 50px;
}

.sample-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    position: relative;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
}

.sample-img {
    position: relative;
    width: 100%;
    height: auto;
    /* height: 500px; */
}

.sample-img img {
   position: relative;
    width: 100%;
    height: auto;
}

.sample-img2{
    position: relative;
    width: 100%;
    line-height: 30px;
}

.sample-img2 img {
    position: relative;
    width: 70%;
    height: auto;
    
}

.sample-text {
    width: 100%;
    position: relative;
    /* text-align: center; */
    align-items: center;
}


.sample-text h2{
font-size: 30;
margin-bottom: 20px;
}

.sample-text p{
    font-size: var(--p-fonts);
    margin-top: 20px;
    font-weight: 600;
}

.sample-btn{
    margin-top: 20px;
}

.sample-btn:hover{
    transform: none;
}